
$custom-dark-blue: rgb(16,50,87);
$custom-medium-blue: rgb(66,100,140);
$custom-light-green: rgb(0,181,173);
$custom-light-green-opaque: rgba(0,181,173,0.3);
$custom-dark-green: rgb(5,105,117);
$custom-pink: rgb(254, 13, 95);